__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
.pytest_cache/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
__pypackages__/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE
.idea/
.env
.venv
docs/_build/

_junk/
docker/

# MFDB
pubchem_ids.txt
error.txt
out.csv
out.tsv
out.json
